.hero-section {
  display: block;
}

.hero-wrapper {
  display: flex;
  align-items: center;
  padding: 0 10rem 0 10rem;
  background-image:
    linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%),
    url(/src/assets/images/people.png);
  background-color: black;
  background-size: cover;
  background-position: 10% 20%;
  height: calc(100svh - 5.5rem);
}

.hero-text-container {
  max-width: 80ch;
}

.hero-text-container>button {
  background-color: var(--clr-accent);
  cursor: pointer;
  padding: 1rem;
  border-radius: 0.5em;
  border-style: none;
  max-width: fit-content;
}

@media (max-width: 60.75em) {
  .hero-wrapper {
    padding: 1rem 2rem 1rem 2rem;
    justify-content: center;
    height: calc(100svh - 5.5rem);
  }

  .hero-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100ch;
  }
}

@media (max-width: 46.875em) {
  .hero-wrapper {
    height: calc(100svh - 4.625rem);
  }
}
