.who-we-are {
  background-image: linear-gradient(
      180deg,
      rgba(45, 76, 139, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(/src/assets/images/meeting.webp);
  background-color: var(--clr-accent);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: end;

  padding: 5rem 10rem;
}

.description {
  max-width: 60ch;
}

.description > span {
  color: var(--clr-primary);
}

@media (max-width: 60.75em) {
  .who-we-are {
    padding: 5rem 2rem;
  }
}

@media (max-width: 46.875em) {
  .who-we-are {
    padding: 5rem 2rem;
    align-items: center;
    text-align: center;
  }
}
