.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fs-main-header {
  font-size: var(--fs-main-header);
}

.fs-h3 {
  font-size: var(--fs-h3);
}

.fs-title {
  font-size: var(--fs-title);
}

.fs-body {
  font-size: var(--fs-body);
}

.text-white {
  color: var(--clr-text-white)
}

.text-accent {
  color: var(--clr-accent)
}

.text-black {
  color: var(--clr-text-black)
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.section-spacing {
  padding: var(--section-padding);
}

.even-columns {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.flow *+* {
  margin-top: var(--flow-spacer, 1em);
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

@media (max-width: 60.75em) {
  .even-columns {
    display: flex;
    flex-direction: column;
  }
}
